In [8]:
import pandas as pd

city_pop = pd.read_csv("sub-est2021_all.csv",encoding='latin-1')

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,ESTIMATESBASE2020,POPESTIMATE2020,POPESTIMATE2021
0,40,1,0,0,0,0,0,A,Alabama,Alabama,5024279,5024803,5039877
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2368,2368,2379
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4372,4356,4294
3,162,1,0,484,0,0,0,A,Addison town,Alabama,664,664,668
4,162,1,0,676,0,0,0,A,Akron town,Alabama,227,227,226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81411,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,2662,2653,2667
81412,50,56,45,0,0,0,0,A,Weston County,Wyoming,6838,6809,6745
81413,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,3245,3232,3204
81414,157,56,45,79125,0,0,1,A,Upton town,Wyoming,926,922,913
81415,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,2667,2655,2628

TypeError: from_place() missing 1 required positional argument: 'place'